# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Podfile
Podfile.lock
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/SDWebImage/LICENSE
Pods/SDWebImage/README.md
Pods/SDWebImage/SDWebImage/Core/NSButton+WebCache.h
Pods/SDWebImage/SDWebImage/Core/NSButton+WebCache.m
Pods/SDWebImage/SDWebImage/Core/NSData+ImageContentType.h
Pods/SDWebImage/SDWebImage/Core/NSData+ImageContentType.m
Pods/SDWebImage/SDWebImage/Core/NSImage+Compatibility.h
Pods/SDWebImage/SDWebImage/Core/NSImage+Compatibility.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImage.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImage.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImagePlayer.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImagePlayer.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageRep.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageRep.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView+WebCache.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView+WebCache.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView.m
Pods/SDWebImage/SDWebImage/Core/SDCallbackQueue.h
Pods/SDWebImage/SDWebImage/Core/SDCallbackQueue.m
Pods/SDWebImage/SDWebImage/Core/SDDiskCache.h
Pods/SDWebImage/SDWebImage/Core/SDDiskCache.m
Pods/SDWebImage/SDWebImage/Core/SDGraphicsImageRenderer.h
Pods/SDWebImage/SDWebImage/Core/SDGraphicsImageRenderer.m
Pods/SDWebImage/SDWebImage/Core/SDImageAPNGCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageAPNGCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageAWebPCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageAWebPCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageCache.h
Pods/SDWebImage/SDWebImage/Core/SDImageCache.m
Pods/SDWebImage/SDWebImage/Core/SDImageCacheConfig.h
Pods/SDWebImage/SDWebImage/Core/SDImageCacheConfig.m
Pods/SDWebImage/SDWebImage/Core/SDImageCacheDefine.h
Pods/SDWebImage/SDWebImage/Core/SDImageCacheDefine.m
Pods/SDWebImage/SDWebImage/Core/SDImageCachesManager.h
Pods/SDWebImage/SDWebImage/Core/SDImageCachesManager.m
Pods/SDWebImage/SDWebImage/Core/SDImageCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageCoderHelper.h
Pods/SDWebImage/SDWebImage/Core/SDImageCoderHelper.m
Pods/SDWebImage/SDWebImage/Core/SDImageCodersManager.h
Pods/SDWebImage/SDWebImage/Core/SDImageCodersManager.m
Pods/SDWebImage/SDWebImage/Core/SDImageFrame.h
Pods/SDWebImage/SDWebImage/Core/SDImageFrame.m
Pods/SDWebImage/SDWebImage/Core/SDImageGIFCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageGIFCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageGraphics.h
Pods/SDWebImage/SDWebImage/Core/SDImageGraphics.m
Pods/SDWebImage/SDWebImage/Core/SDImageHEICCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageHEICCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageIOAnimatedCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageIOAnimatedCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageIOCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageIOCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageLoader.h
Pods/SDWebImage/SDWebImage/Core/SDImageLoader.m
Pods/SDWebImage/SDWebImage/Core/SDImageLoadersManager.h
Pods/SDWebImage/SDWebImage/Core/SDImageLoadersManager.m
Pods/SDWebImage/SDWebImage/Core/SDImageTransformer.h
Pods/SDWebImage/SDWebImage/Core/SDImageTransformer.m
Pods/SDWebImage/SDWebImage/Core/SDMemoryCache.h
Pods/SDWebImage/SDWebImage/Core/SDMemoryCache.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheKeyFilter.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheKeyFilter.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheSerializer.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheSerializer.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageCompat.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageCompat.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDefine.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDefine.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloader.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloader.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderConfig.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderConfig.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderDecryptor.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderDecryptor.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderOperation.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderOperation.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderRequestModifier.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderRequestModifier.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderResponseModifier.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderResponseModifier.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageError.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageError.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageIndicator.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageIndicator.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageManager.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageManager.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageOperation.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageOperation.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageOptionsProcessor.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageOptionsProcessor.m
Pods/SDWebImage/SDWebImage/Core/SDWebImagePrefetcher.h
Pods/SDWebImage/SDWebImage/Core/SDWebImagePrefetcher.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageTransition.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageTransition.m
Pods/SDWebImage/SDWebImage/Core/UIButton+WebCache.h
Pods/SDWebImage/SDWebImage/Core/UIButton+WebCache.m
Pods/SDWebImage/SDWebImage/Core/UIImage+ExtendedCacheData.h
Pods/SDWebImage/SDWebImage/Core/UIImage+ExtendedCacheData.m
Pods/SDWebImage/SDWebImage/Core/UIImage+ForceDecode.h
Pods/SDWebImage/SDWebImage/Core/UIImage+ForceDecode.m
Pods/SDWebImage/SDWebImage/Core/UIImage+GIF.h
Pods/SDWebImage/SDWebImage/Core/UIImage+GIF.m
Pods/SDWebImage/SDWebImage/Core/UIImage+MemoryCacheCost.h
Pods/SDWebImage/SDWebImage/Core/UIImage+MemoryCacheCost.m
Pods/SDWebImage/SDWebImage/Core/UIImage+Metadata.h
Pods/SDWebImage/SDWebImage/Core/UIImage+Metadata.m
Pods/SDWebImage/SDWebImage/Core/UIImage+MultiFormat.h
Pods/SDWebImage/SDWebImage/Core/UIImage+MultiFormat.m
Pods/SDWebImage/SDWebImage/Core/UIImage+Transform.h
Pods/SDWebImage/SDWebImage/Core/UIImage+Transform.m
Pods/SDWebImage/SDWebImage/Core/UIImageView+HighlightedWebCache.h
Pods/SDWebImage/SDWebImage/Core/UIImageView+HighlightedWebCache.m
Pods/SDWebImage/SDWebImage/Core/UIImageView+WebCache.h
Pods/SDWebImage/SDWebImage/Core/UIImageView+WebCache.m
Pods/SDWebImage/SDWebImage/Core/UIView+WebCache.h
Pods/SDWebImage/SDWebImage/Core/UIView+WebCache.m
Pods/SDWebImage/SDWebImage/Core/UIView+WebCacheOperation.h
Pods/SDWebImage/SDWebImage/Core/UIView+WebCacheOperation.m
Pods/SDWebImage/SDWebImage/Core/UIView+WebCacheState.h
Pods/SDWebImage/SDWebImage/Core/UIView+WebCacheState.m
Pods/SDWebImage/SDWebImage/Private/NSBezierPath+SDRoundedCorners.h
Pods/SDWebImage/SDWebImage/Private/NSBezierPath+SDRoundedCorners.m
Pods/SDWebImage/SDWebImage/Private/SDAssociatedObject.h
Pods/SDWebImage/SDWebImage/Private/SDAssociatedObject.m
Pods/SDWebImage/SDWebImage/Private/SDAsyncBlockOperation.h
Pods/SDWebImage/SDWebImage/Private/SDAsyncBlockOperation.m
Pods/SDWebImage/SDWebImage/Private/SDDeviceHelper.h
Pods/SDWebImage/SDWebImage/Private/SDDeviceHelper.m
Pods/SDWebImage/SDWebImage/Private/SDDisplayLink.h
Pods/SDWebImage/SDWebImage/Private/SDDisplayLink.m
Pods/SDWebImage/SDWebImage/Private/SDFileAttributeHelper.h
Pods/SDWebImage/SDWebImage/Private/SDFileAttributeHelper.m
Pods/SDWebImage/SDWebImage/Private/SDImageAssetManager.h
Pods/SDWebImage/SDWebImage/Private/SDImageAssetManager.m
Pods/SDWebImage/SDWebImage/Private/SDImageCachesManagerOperation.h
Pods/SDWebImage/SDWebImage/Private/SDImageCachesManagerOperation.m
Pods/SDWebImage/SDWebImage/Private/SDImageFramePool.h
Pods/SDWebImage/SDWebImage/Private/SDImageFramePool.m
Pods/SDWebImage/SDWebImage/Private/SDImageIOAnimatedCoderInternal.h
Pods/SDWebImage/SDWebImage/Private/SDInternalMacros.h
Pods/SDWebImage/SDWebImage/Private/SDInternalMacros.m
Pods/SDWebImage/SDWebImage/Private/SDmetamacros.h
Pods/SDWebImage/SDWebImage/Private/SDWeakProxy.h
Pods/SDWebImage/SDWebImage/Private/SDWeakProxy.m
Pods/SDWebImage/SDWebImage/Private/SDWebImageTransitionInternal.h
Pods/SDWebImage/SDWebImage/Private/UIColor+SDHexString.h
Pods/SDWebImage/SDWebImage/Private/UIColor+SDHexString.m
Pods/SDWebImage/WebImage/PrivacyInfo.xcprivacy
Pods/SDWebImage/WebImage/SDWebImage.h
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-acknowledgements.markdown
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-acknowledgements.plist
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-dummy.m
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-frameworks.sh
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-Info.plist
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-umbrella.h
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp.debug.xcconfig
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp.modulemap
Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp.release.xcconfig
Pods/Target Support Files/SDWebImage/ResourceBundle-SDWebImage-SDWebImage-Info.plist
Pods/Target Support Files/SDWebImage/SDWebImage-dummy.m
Pods/Target Support Files/SDWebImage/SDWebImage-Info.plist
Pods/Target Support Files/SDWebImage/SDWebImage-prefix.pch
Pods/Target Support Files/SDWebImage/SDWebImage-umbrella.h
Pods/Target Support Files/SDWebImage/SDWebImage.debug.xcconfig
Pods/Target Support Files/SDWebImage/SDWebImage.modulemap
Pods/Target Support Files/SDWebImage/SDWebImage.release.xcconfig
Pods/JGProgressHUD/LICENSE.txt
Pods/JGProgressHUD/README.md
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUD.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDAnimation.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDErrorIndicatorView.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDFadeAnimation.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDFadeZoomAnimation.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDImageIndicatorView.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDIndeterminateIndicatorView.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDIndicatorView.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDPieIndicatorView.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDRingIndicatorView.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDShadow.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/JGProgressHUDSuccessIndicatorView.m
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUD-Defines.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUD.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDAnimation.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDErrorIndicatorView.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDFadeAnimation.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDFadeZoomAnimation.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDImageIndicatorView.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDIndeterminateIndicatorView.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDIndicatorView.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDPieIndicatorView.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDRingIndicatorView.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDShadow.h
Pods/JGProgressHUD/JGProgressHUD/JGProgressHUD/include/JGProgressHUDSuccessIndicatorView.h
Pods/Target Support Files/JGProgressHUD/JGProgressHUD-dummy.m
Pods/Target Support Files/JGProgressHUD/JGProgressHUD-Info.plist
Pods/Target Support Files/JGProgressHUD/JGProgressHUD-prefix.pch
Pods/Target Support Files/JGProgressHUD/JGProgressHUD-umbrella.h
Pods/Target Support Files/JGProgressHUD/JGProgressHUD.debug.xcconfig
Pods/Target Support Files/JGProgressHUD/JGProgressHUD.modulemap
Pods/Target Support Files/JGProgressHUD/JGProgressHUD.release.xcconfig
